/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #1e1e1e;
    color: #eaeaea;
    display: flex;
    height: 100vh;
    overflow: hidden; /* Empêche le défilement du body */
}

.container {
    display: flex;
    width: 100%;
}

.panel {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#editor {
    width: 50%;
    padding: 20px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Fond sombre pour l'éditeur */
}

#markdown {
    width: 100%;
    height: calc(100vh - 100px); /* Ajuster la taille en fonction de la fenêtre */
    background-color: transparent;
    border: none;
    color: #eaeaea;
    font-size: 16px;
    line-height: 1.6;
    resize: none;
    outline: none;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace; /* Police de style code */
}

#markdown::placeholder {
    color: #a5a5a5;
}

#preview {
    width: 50%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fond semi-transparent pour l'aperçu */
    color: #eaeaea;
    overflow-y: auto; /* Défilement de l'aperçu */
}

#content-preview {
    padding: 10px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

h2 {
    color: #f0f0f0;
    font-size: 18px;
    margin-bottom: 10px;
}

.panel::-webkit-scrollbar {
    width: 8px;
}

.panel::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

.panel::-webkit-scrollbar-track {
    background: #2e2e2e;
}

/* Styles pour le menu contextuel */
#context-menu {
    position: absolute;
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#context-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

#context-menu li {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

#context-menu li:hover {
    background-color: #555;
}

/* Cacher le menu contextuel quand il n'est pas utilisé */
.hidden {
    display: none;
}
