<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Générateur de Sites Web Markdown</title>
</head>
<body>
    <div class="container">
        <div id="editor" class="panel">
            <h2>Éditeur Markdown</h2>
            <textarea id="markdown" placeholder="Tapez votre contenu ici..." rows="40"></textarea>
        </div>
        <div id="preview" class="panel">
            <h2>Aperçu</h2>
            <div id="content-preview"></div>
        </div>
    </div>

    

    <script src="../static/js/live-motor.js"></script>
    <script src="../static/js/context-menu.js"></script>
    <script src="../static/js/markdown-regex.js"></script>

</body>
</html>
